<!DOCTYPE html
<html>
    <head>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.0.6/material.deep_purple-orange.min.css">
        <script defer src="https://code.getmdl.io/1.0.6/material.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.js"></script>
        <link rel="stylesheet" href="/css/landing.css">
         <style type="text/css" media="screen">
        .demo-content {
            border-radius: 20px;
            padding: 100px;
            margin-bottom: 90px;
            max-width: 0 auto;
            width: calc(100% - 16px);
            margin: 0 auto;
        }
        </style>
    </head>
    <body>
         <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout__title">NOIR</span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
                    
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout__title" <href="#">NOIR</span>
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                <a class="mdl-navigation__link" href="#">Logout</a>
                <a class="mdl-navigation__link" href="#">home</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
           
                <div style="text-align:center">
                <img src="images/Group.png" height="400" width="560">
                    
                
               </div>    
                

        </main>
    </div>
</body>

</html>