<!DOCTYPE html>
<html>
    <head>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.0.6/material.deep_purple-orange.min.css">
        <script defer src="https://code.getmdl.io/1.0.6/material.min.js"></script>
        <link rel="stylesheet" href="/css/landing.css">
         <style type="text/css" media="screen">
        .demo-content {
            border-radius: 20px;
            padding: 100px;
            margin-bottom: 90px;
            max-width: 0 auto;
            width: calc(100% - 16px);
            margin: 0 auto;
        }
        </style>
    </head>
    <body>
        <section>
            <header>
                <nav class="navbar navbar-default">
                    <ul class="nav navbar-nav">
                        
                </nav>
            </header>
            <div>
                <h1></h1>
                <p></p>
                <p>
                    <a class="btn btn-primary btn-lg" href="/login" role="button">Login Now!</a>
                </p>
            </div>
        </section>
        
    </body>
</html>
