key {
    display: inline-block;
    height: 40px;
    background-color: lightslategrey;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid darkgray;
}

key:hover {
    background-color: #d1c4e9;
}

#keyboard {
    display: flex;
}